.container{
  display: grid;
  grid-template-columns: 257px;
  grid-template-rows: auto auto auto auto;

  position: relative;
  top: 10vh;
}

.top-container{
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: auto;
}

[class*="button-month"]:hover{
  cursor: pointer;
}

.button-month-left{
  color: black;
}

.button-month-right{
  color: black;
}

.date{
  margin: auto;
}

.calendar-grid{
  border-style: none;
}

.reminder-block{
  margin-top: 3px;
}

.reminder-text{
  margin-bottom: 10px;
}

.reminder-title{
  font-size: 14px;
}

.reminder-tip{
  font-size: 10px;
  color: gray;
  margin-bottom: 100px;
}