.day, .blank{
  background-color: white;
  color: black;
}

.day:hover{
  background-color: gray;
}

.day:active {
  background-color: rgb(39, 39, 39);
  color: white;
}

.today{
  background-color: lightblue;
  color: black;
}