.container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.top-container{
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: auto;
}

[class*="button-month"]:hover{
  cursor: pointer;
}

.button-month-left{
  color: black;
}

.button-month-right{
  color: black;
}

.date{
  margin: auto;
}

.calendar-grid{
  border-style: none;
}